body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.judul-menu {
    font-size: 17px;
    font-weight: bold;
    color:black;
    margin-bottom: 5px;
}

.card {
    background: white;
    width: 260px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

button {
    background: #27ae60;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px; 
}
